In [1]:
import pandas as pd

In [2]:
meta = pd.read_csv("split_meta.csv", encoding='utf-8')

In [3]:
meta.head()

,Unnamed: 0,accounts,ch,chamber,id,name,party,screen_name,state,type
0,0,"{'office': [{'id': 817097052375187500, 'id_str...",no,house,NaN,Blue Collar Caucus,D,BlueCollarDems,NaN,caucus
1,1,"{'office': [{'id': 224685124, 'id_str': '22468...",no,house,NaN,Blue Dog Coalition,D,HouseBlueDogs,NaN,caucus
2,2,"{'office': [{'id': 192955168, 'id_str': '19295...",no,house,NaN,Congressional Asian Pacific American Caucus,D,CAPAC,NaN,caucus
3,3,"{'office': [{'id': 233783568, 'id_str': '23378...",no,house,NaN,Congressional Black Caucus,D,OfficialCBC,NaN,caucus
4,4,"{'office': [{'id': 20020575, 'id_str': '200205...",no,house,NaN,Congressional Health Caucus,R,HealthCaucus,NaN,caucus

In [4]:
meta.drop('Unnamed: 0', axis=1, inplace = True)

In [5]:
meta.drop('accounts', axis=1, inplace = True)

In [6]:
meta.drop('id', axis=1, inplace = True)

In [7]:
meta.head()

,ch,chamber,name,party,screen_name,state,type
0,no,house,Blue Collar Caucus,D,BlueCollarDems,NaN,caucus
1,no,house,Blue Dog Coalition,D,HouseBlueDogs,NaN,caucus
2,no,house,Congressional Asian Pacific American Caucus,D,CAPAC,NaN,caucus
3,no,house,Congressional Black Caucus,D,OfficialCBC,NaN,caucus
4,no,house,Congressional Health Caucus,R,HealthCaucus,NaN,caucus

In [8]:
meta.to_csv('cleaned_meta.csv', encoding='utf-8')