In [25]:
import pandas as pd
import numpy as np

In [26]:
meta = pd.read_csv("file.csv")

In [27]:
df = pd. read_json("congress_tweets/congresstweets/data/2017-06-21.json")

In [28]:
df.drop('id', axis=1, inplace = True)

In [29]:
meta.drop('Unnamed: 0', axis=1, inplace = True)

In [30]:
meta.drop('accounts', axis=1, inplace = True)

In [31]:
meta.drop('id', axis=1, inplace = True)

In [32]:
meta1 = meta.drop('campaign_twitter_handle', axis = 1)

In [33]:
meta2 = meta.drop('office_twitter_handle', axis = 1)

In [34]:
meta2.head()

,chamber,name,party,state,type,campaign_twitter_handle
0,house,Blue Collar Caucus,D,NaN,caucus,NaN
1,house,Blue Dog Coalition,D,NaN,caucus,NaN
2,house,Congressional Asian Pacific American Caucus,D,NaN,caucus,NaN
3,house,Congressional Black Caucus,D,NaN,caucus,NaN
4,house,Congressional Health Caucus,R,NaN,caucus,NaN

In [35]:
meta1 = meta1.fillna(value = 'NaN')

In [36]:
meta1 = meta1[meta1.office_twitter_handle != 'NaN']

In [37]:
meta2 = meta2.fillna(value = 'NaN')

In [38]:
meta2 = meta2[meta2.campaign_twitter_handle != 'NaN']

In [39]:
meta2.head()

   chamber           name party state    type campaign_twitter_handle
33   house      Don Young     R    AK  member              DonYoungAK
34   house  Bradley Byrne     R    AL  member            BradleyByrne
35   house    Gary Palmer     R    AL  member          Palmer4Alabama
36   house    Martha Roby     R    AL  member                TeamRoby
37   house    Mike Rogers     R    AL  member          MikeRogersCamp

In [40]:
meta2['campaign_handle'] = "yes"

In [41]:
meta2.head()

,chamber,name,party,state,type,campaign_twitter_handle,campaign_handle
33,house,Don Young,R,AK,member,DonYoungAK,yes
34,house,Bradley Byrne,R,AL,member,BradleyByrne,yes
35,house,Gary Palmer,R,AL,member,Palmer4Alabama,yes
36,house,Martha Roby,R,AL,member,TeamRoby,yes
37,house,Mike Rogers,R,AL,member,MikeRogersCamp,yes

In [42]:
meta1.rename(columns={'office_twitter_handle': 'screen_name'}, inplace=True)

In [43]:
meta2.rename(columns={'campaign_twitter_handle': 'screen_name'}, inplace=True)

In [44]:
meta2 = meta2.reset_index(drop=True)

In [45]:
meta1 = meta1.reset_index(drop=True)

In [46]:
total = pd.concat([meta1, meta2])

In [47]:
total = total.reset_index(drop=True)

In [49]:
total.to_csv('cleaned_meta.csv')

In [50]:
new = pd.DataFrame.merge(df, total, how = 'left', on = 'screen_name')

In [51]:
df.shape

(2696, 5)

In [52]:
new.shape

(2697, 11)